main {
    --main_header_height: 136px;
    --main_footer_height: 120px;
}

/* 
    main || .header
*/

main>.header {
    font-size: 1.8rem;
    color: var(--color_gray_2)
}

main>.header>h1 {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-weight: normal;
}

/* 
    main || .main
*/

main>.main>.items-holder {
    min-height: 300px;
    padding: 15px 0;
}

main>.main>.items-holder>ul {
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 0;
}

main>.main>.items-holder>ul>li {
    font-size: 2rem;
    position: relative;
    display: inline-block;
    width: 400px;
    height: 500px;
    margin: 10px;
    background-color: var(--color_white);
    box-shadow: 4px 4px 10px var(--color_gray_5);
    overflow: hidden;
}
main>.main>.items-holder>ul>li>a {
    color: inherit;
    text-decoration: none;
}

main>.main .items-holder li .header {
    position: relative;
    display: block;
    text-decoration: none;
    height: 70%;
    font-size: 20rem;
    text-shadow: 0 0 15px var(--color_gray_1);
    /* text-shadow: 4px 0 15px var(--color_primary_1), -4px 0 15px var(--color_primary_1); */
    color: var(--color_gray_2);
    background-color: var(--color_gray_1);
    border: 1px solid var(--color_gray_4);
}

main>.main .items-holder li:hover .header {
    transition: font-size 0.5s;
    font-size: 22rem;
}

main>.main .items-holder li:hover .footer {
    color: white;
    background-color: var(--color_primary_1);
}

main>.main .items-holder li:nth-child(2n):hover .footer {
    background-color: var(--color_secondary_1);
}

main>.main .items-holder li:active .footer {
    background-color: var(--color_gray_1);
    color: var(--color_gray_2);
}

main>.main .items-holder li:nth-child(2n):active .footer {
    background-color: var(--color_gray_1);
    color: var(--color_gray_2);
}

main>.main .items-holder li .header>i {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main>.main .items-holder li .footer {
    height: 30%;
    border: 1px solid var(--color_gray_4);
    border-top: none;
    padding: 0 10px;
}

main>.main .items-holder li .footer>span {
    position: relative;
    display: block;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

main>.main .items-holder li .footer a {
    text-decoration: underline;
    color: inherit;
}

/* 
    main || .footer
*/

main>.footer {
    text-align: center;
    font-size: 2.3rem;
    color: var(--color_white);
    font-weight: bold;
}

main>.footer>.search-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color_secondary_2);
    height: 50px;
    width: 500px;
    line-height: 50px;
    cursor: pointer;
    user-select: none;
}

main>.footer>.search-button:hover {
    background-color: var(--color_secondary_1);
}

main>.footer>.search-button:active {
    background-color: var(--color_secondary_2);
}