/* 
    main
*/

main {
    --main_header_height: 250px;
}

main>.cover {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--color_gray_2);
    opacity: 0.25;
    z-index: 1;
}

main>.footer {
    z-index: 2;
}

/* 
    main || .header
*/

main>.header {
    padding-top: 10px;
    z-index: 2;
}

main>.header>.search-menu {
    height: auto;
}

main>.header>.search-menu>ul {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    height: 100%;
    width: 310px;
    text-transform: uppercase;
}

main>.header>.search-menu>ul>li {
    position: relative;
    float: left;
    width: 50%;
    height: 55px;
    font-size: 1.2rem;
}

main>.header>.search-menu>ul>li[class*="search-stats"] {
    background-color: var(--color_secondary_2);
    color: var(--color_white);
    width: 100%;
    height: 110px;
}

main>.header>.search-menu>ul>li[class*="search-stats"]>.header {
    height: 40%;
    background-color: var(--color_secondary_1);
    font-weight: bold;
}

main>.header>.search-menu>ul>li[class*="search-stats"]>.footer {
    height: 60%;
    text-transform: none;
    font-size: 2rem;
}

main>.header>.search-menu>ul>li[class*="search-stats"]>div span {
    position: relative;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

main>.header>.search-menu>ul>li>.menu-holder {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 55px;
}

main>.header>.search-menu>ul>li>.menu-holder:hover>.menu-button {
    background-color: var(--color_white);
}

main>.header>.search-menu>ul>li>.menu-holder>.menu-button {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    background-color: var(--color_gray_1);
    color: var(--color_gray_2);
    font-weight: bold;
    border: 1px solid var(--color_gray_3);
    user-select: none;
    cursor: pointer;
}

main>.header>.search-menu>ul>li>.menu-holder>.menu-button:active {
    background-color: var(--color_gray_1);
}

main>.header>.search-menu>ul>li>.menu-holder>.menu-button>.text {
    position: absolute;
    height: 100%;
    width: 100%;
}

main>.header>.search-menu>ul>li>.menu-holder>.menu-button>.text>span {
    position: relative;
    display: block;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
}

main>.header>.search-menu>ul>li>.menu-holder>.menu-button>.text>span>span {
    font-size: 1.4rem;
    display: block;
    width: 100%;
    text-transform: none;
    font-weight: normal;
    color: var(--color_gray_6);
}

main>.header>.search-menu>ul>li>.menu-holder>.menu-button>.icon {
    position: absolute;
    right: 0;
    height: 100%;
    width: 20%;
    font-size: 2.5rem;
}

main>.header>.search-menu>ul>li>.menu-holder>.menu-button>.icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main>.header>.search-menu>ul>li>.menu-holder>.menu {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    max-height: 300px;
    width: 100%;
    background-color: var(--color_white);
    border-left: 1px solid var(--color_gray_3);
    border-bottom: 1px solid var(--color_gray_3);
    border-right: 1px solid var(--color_gray_3);
    text-transform: none;
    font-weight: normal;
    padding: 20px 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: -1;
}

main>.header>.search-menu>ul>li>.menu-holder>.menu li {
    position: relative;
    height: 40px;
    line-height: 40px;
    list-style: none;
    border-bottom: 1px solid var(--color_gray_3);
    user-select: none;
    cursor: pointer;
}

main>.header>.search-menu>ul>li>.menu-holder>.menu li:nth-child(2n+1) {
    background-color: var(--color_gray_1);
}

main>.header>.search-menu>ul>li>.menu-holder>.menu li:first-child {
    border-top: 1px solid var(--color_gray_3);
}

main>.header>.search-menu>ul>li>.menu-holder>.menu li:hover {
    background-color: var(--color_secondary_2);
    border-bottom: none;
    color: white;
    font-weight: bold;
    border-left: 8px solid var(--color_gray_1);
}

main>.header>.search-menu>ul>li>.menu-holder>.menu li:active {
    background-color: var(--color_secondary_1);
}

main>.header>.search-menu>ul>li>.menu-holder>.menu li>span {
    position: relative;
}

/* 
    main || .main
*/

main>.main>.hotels-list>ul {
    text-align: center;
    font-size: 0;
    padding: 25px 0;
}

main>.main>.hotels-list>ul>li {
    position: relative;
    font-size: 2rem;
    display: inline-block;
    width: 300px;
    height: auto;
    overflow: hidden;
    box-shadow: 4px 4px 10px var(--color_gray_5);
    margin-bottom: 16px;
    margin-right: 8px;
    margin-left: 8px;
}

main>.main>.hotels-list>ul>li>.header {
    color: var(--color_white);
    background-color: var(--color_primary_2);
    position: relative;
    width: 100%;
    height: 150px;
}

main>.main>.hotels-list>ul>li:nth-child(2n)>.header {
    background-color: var(--color_secondary_2);
}

main>.main>.hotels-list>ul>li>.header>.title {
    position: relative;
    width: 100%;
    height: 55px;
    background-color: var(--color_primary_1);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.6rem;
}

main>.main>.hotels-list>ul>li:nth-child(2n)>.header>.title {
    background-color: var(--color_secondary_1);
}

main>.main>.hotels-list>ul>li>.header>.title a {
    color: var(--color_white);
    text-decoration: none;
}

main>.main>.hotels-list>ul>li>.header>.title>span {
    position: relative;
    display: block;
    top: 50%;
    padding: 0 25px;
    transform: translateY(-50%);
}

main>.main>.hotels-list>ul>li>.header>.content {
    position: relative;
    height: calc(100% - 55px);
}

main>.main>.hotels-list>ul>li>.header>.content>.price {
    position: relative;
    height: 50%;
    font-size: 2.5rem;
    font-weight: bold;
}

main>.main>.hotels-list>ul>li>.header>.content>.price>span {
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

main>.main>.hotels-list>ul>li>.header>.content>.stars {
    position: relative;
    bottom: 0;
    left: 0;
    height: 50%;
    font-size: 2.9rem;
    color: var(--color_primary_3);
}

main>.main>.hotels-list>ul>li:nth-child(2n)>.header>.content>.stars {
    color: var(--color_secondary_3);
}

main>.main>.hotels-list>ul>li>.header>.content>.stars .fa-star {
    text-shadow: 0px 0px 1px var(--color_white);
}

main>.main>.hotels-list>ul>li>.main {
    position: relative;
    left: 0;
    width: 100%;
    height: auto;
    font-size: 1.5rem;
}

main>.main>.hotels-list>ul>li>.main>ul {
    height: 100%;
    width: 100%;
    border: 1px solid var(--color_gray_4);
    background-color: var(--color_white)
}

main>.main>.hotels-list>ul>li>.main>ul>li {
    position: relative;
    float: none;
    height: 150px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 15px;
    overflow: hidden;
}

main>.main>.hotels-list>ul>li>.main>ul>li:nth-child(2n+1) {
    background-color: var(--color_gray_1);
}

main>.main>.hotels-list>ul>li>.main>ul>li>div {
    position: relative;
    text-align: left;
    height: 50%;
    padding: 0 25px 0 30px;
}

main>.main>.hotels-list>ul>li>.main>ul>li>div .attr {
    position: relative;
    color: var(--color_gray_6);
    width: 100%;
}

main>.main>.hotels-list>ul>li>.main>ul>li>div .attr a {
    text-decoration: underline;
    color: var(--color_gray_6);
}

main>.main>.hotels-list>ul>li>.main>ul>li>div .attr>.title {
    font-weight: bold;
    color: var(--color_gray_2);
}

main>.main>.hotels-list>ul>li>.main>ul>li>div .attr span {
    display: block;
    word-wrap: break-word;
}

/* 
    main || .footer
*/

main>.footer {
    text-transform: uppercase;
    font-size: 1.2rem;
}

main>.footer>.hotels-paginator {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 310px;
    border-radius: 0 0 10px 10px;
    border-bottom: 1px solid var(--color_gray_5);
    border-left: 1px solid var(--color_gray_5);
    border-right: 1px solid var(--color_gray_5);
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

main>.footer>.hotels-paginator>div {
    position: relative;
    float: left;
    background-color: var(--color_gray_1);
    height: 100%;
    width: 10%;
    border-right: 1px solid var(--color_gray_5);
    overflow: hidden;
}

main>.footer>.hotels-paginator>div:last-child {
    border-right: none;
    width: 15%;
}

main>.footer>.hotels-paginator>div:first-child {
    width: 25%;
}

main>.footer>.hotels-paginator>div:hover {
    background-color: var(--color_white);
}

main>.footer>.hotels-paginator>div:active {
    background-color: var(--color_gray_1);
}

main>.footer>.hotels-paginator>div>span {
    position: relative;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 360px) {
    main>.header>.search-menu>ul {
        width: 330px;
    }
    main>.main>.hotels-list>ul>li {
        width: 330px;
    }
    main>.footer>.hotels-paginator {
        width: 330px;
    }
}

@media (min-width: 560px) {
    main>.header>.search-menu>ul {
        width: 430px;
    }
    main>.main>.hotels-list>ul>li {
        width: 430px;
    }
    main>.footer>.hotels-paginator {
        width: 430px;
    }
    main>.header>.search-menu>ul>li {
        font-size: 1.4rem;
    }
    main>.footer {
        font-size: 1.3rem;
    }
}



@media (min-width: 645px) {
    main {
        --main_header_height: 150px;
    }

    main>.header {
        padding-top: 30px;
    }
    
    main>.header>.search-menu {
        height: 110px;
    }
    
    main>.header>.search-menu>ul {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        height: 110px;
        width: 600px;
        text-transform: uppercase;
    }
    
    main>.header>.search-menu>ul>li {
        position: relative;
        float: left;
        width: 200px;
        height: 55px;
        font-size: 1.5rem;
    }
    
    main>.header>.search-menu>ul>li[class*="search-stats"] {
        background-color: var(--color_secondary_2);
        color: var(--color_white);
        width: 200px;
        height: 100%;
    }

    main>.footer>.hotels-paginator {
        height: 40px;
    }

}

@media (min-width: 710px) {
    main>.main>.hotels-list>ul>li {
        width: 330px;
    }
}


@media (min-width: 1210px) {
    main>.header {
        padding-top: 40px;
    }
    main>.header>.search-menu {
        height: 95px;
    }
    main>.header>.search-menu>ul {
        width: 1200px;
    }
    main>.header>.search-menu>ul>li {
        width: calc(100% / 5);
        height: 100%;
        font-size: 1.5rem;
    }
    main>.header>.search-menu>ul>li[class*="search-stats"] {
        width: calc(100% / 5);
        height: 100%;
    }
    main>.header>.search-menu>ul>li>.menu-holder>.menu-button {
        border-bottom: 1px solid var(--color_gray_3);
        border-top: 1px solid var(--color_gray_3);
        border-left: 1px solid var(--color_gray_3);
        border-right: none;
    }
    main>.header>.search-menu>ul>li:last-child>.menu-holder>.menu-button {
        border-right: 1px solid var(--color_gray_3);
    }
    main>.main>.hotels-list>ul {
        padding: 50px 0;
    }
    main>.main>.hotels-list>ul>li {
        width: 1070px;
        height: 165px;
        margin: 0;
    }
    main>.main>.hotels-list>ul>li>.header {
        position: absolute;
        width: 20%;
        height: 100%;
    }
    main>.main>.hotels-list>ul>li>.main {
        left: 20%;
        top: 0;
        width: 80%;
        height: 100%;
    }
    main>.main>.hotels-list>ul>li>.main>ul {
        position: relative;
        height: 100%;
    }
    main>.main>.hotels-list>ul>li>.main>ul>li {
        float: left;
        height: 100%;
        width: calc(100% / 4);
    }
    main>.main>.hotels-list>ul>li>.main>ul>li>div {
        padding: 0 10px 0 25px;
    }
    main>.footer {
        /* font-size: 1.5rem; */
    }
    main>.footer>.hotels-paginator {
        height: 40px;
        width: auto;
    }
    main>.footer>.hotels-paginator>div {
        width: auto;
        padding: 0 15px;
    }
    main>.footer>.hotels-paginator>div:last-child {
        width: auto;
    }
    main>.footer>.hotels-paginator>div:first-child {
        width: auto;
    }
}

/* 
@media (max-width: 700px) {
    main {
        --main_header_height: 250px;
    }
    main>.header {
        padding-top: 10px;
        z-index: 2;
    }
    main>.header>.search-menu {
        height: auto;
    }
    main>.header>.search-menu>ul {
        width: 310px;
    }
    main>.header>.search-menu>ul>li {
        position: relative;
        width: 50%;
        height: 55px;
        font-size: 1.2rem;
        background-color: greenyellow;
    }
    main>.header>.search-menu>ul>li[class*="search-stats"] {
        width: 100%;
        height: 110px;
    }
    main>.header>.search-menu>ul>li>.menu-holder>.menu-button {
        border: 1px solid var(--color_gray_3);
    }
    main>.header>.search-menu>ul>li>.menu-holder>.menu {
        z-index: -1;
    }
    main>.main>.hotels-list>ul {
        padding: 25px 0;
    }
    main>.main>.hotels-list>ul>li {
        font-size: 2rem;
        width: 300px;
        height: auto;
        margin-bottom: 16px;
        margin-right: 8px;
        margin-left: 8px;
    }
    main>.main>.hotels-list>ul>li>.header {
        position: relative;
        width: 100%;
        height: 150px;
    }
    main>.main>.hotels-list>ul>li>.main {
        position: relative;
        left: 0;
        width: 100%;
        height: auto;
        font-size: 1.5rem;
    }
    main>.main>.hotels-list>ul>li>.main>ul {
        height: 100%;
        width: 100%;
        border: 1px solid #D1D4D7;
    }
    main>.main>.hotels-list>ul>li>.main>ul>li {
        float: none;
        height: 150px;
        width: 100%;
    }
    main>.main>.hotels-list>ul>li>.main>ul>li>div {
        padding: 0 25px 0 30px;
    }
} */