main {
    --main_header_height: 136px;
    --main_footer_height: 40px;
}

/* 
    main || .header
*/

main>.header {
    color: var(--color_gray_2);
    font-size: 1.3rem;
}

main>.header>h1 {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
}

/* 
    main || .main
*/

main>.main>.register-form {
    position: relative;
    left: 50%;
    width: 500px;
    transform: translateX(-50%);
    background-color: var(--color_white);
    margin: 40px 0 80px 0;
    box-shadow: 4px 4px 10px var(--color_gray_5);
    border: 1px solid var(--color_gray_4);
}

main>.main>.register-form>form {
    position: relative;
    height: 100%;
}

main>.main>.register-form>form>fieldset {
    position: relative;
    height: 100%;
    border: none;
}

main>.main>.register-form>form>fieldset .head {
    position: relative;
    height: 10px;
    background-color: var(--color_primary_1);
}

main>.main>.register-form .head>.title {
    display: none;
    position: relative;
    font-size: 2.0rem;
    color: white;
    height: 100%;
    padding: 0 20px;
}

main>.main>.register-form .head>.title>legend {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

main>.main>.register-form .alerts {
    position: relative;
    /* height: 100px; */
    padding: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--color_gray_2);
}

main>.main>.register-form .alerts>div {
    position: relative;
    height: 40px;
    background-color: rgb(255, 182, 164);
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 0 20px;
}

main>.main>.register-form .alerts>div>span {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
}

main>.main>.register-form .body {
    position: relative;
    padding: 0 40px;
    font-size: 1.6rem;
}

main>.main>.register-form .body>.inputs {
    position: relative;
    padding: 25px 0 45px 0;
}

main>.main>.register-form .body>.inputs>.input {
    position: relative;
    width: 100%;
    padding: 5px 0 5px 0;
}

main>.main>.register-form .body>.inputs>.input>input {
    position: relative;
    padding: 0 95px 0 10px;
    height: 40px;
    width: 100%;
    border: none;
    box-shadow: 0 0 0 1px var(--color_gray_5);
    border-radius: 5px;
    background-color: var(--color_gray_1);
}

main>.main>.register-form .body>.inputs>.input>input:focus {
    outline: none;
    box-shadow: 0 0 1px 1px var(--color_primary_1);
}

main>.main>.register-form .body>.inputs>.input:hover .icon {
    background-color: var(--color_gray_1);
    color: var(--color_gray_2);
}

main>.main>.register-form .body>.inputs .icon {
    position: absolute;
    top: 5px;
    right: 0;
    background-color: var(--color_primary_2);
    color: white;
    height: 40px;
    width: 85px;
    box-shadow: 0 0 0 1px var(--color_primary_2);
    border-radius: 0 5px 5px 0;
    font-size: 2.2rem;
}

main>.main>.register-form .body>.inputs .icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main>.main>.register-form .footer {
    position: relative;
    widows: 100%;
    height: 100px;
    border-top: 1px solid var(--color_gray_4);
    background-color: var(--color_gray_1);
    color: var(--color_gray_2);
}

main>.main>.register-form .footer>.button {
    background-color: inherit;
    font-weight: bold;
    height: 100%;
    width: 100%;
    font-size: 2.4rem;
    border: none;
}

main>.main>.register-form .footer>.button:hover {
    background-color: var(--color_primary_1);
    color: var(--color_gray_2);
    color: white;
}

main>.main>.register-form .footer>.button:active {
    color: var(--color_gray_2);
    background-color: var(--color_gray_1);
    border: none;
    outline: none;
}

@media (max-width: 700px) {
    main {
        --main_header_height: 80px;
        --main_footer_height: 40px;
    }

    main>.header {
        font-size: 1.1rem;
    }

    main>.main>.register-form {
        width: 300px;
        margin: 20px 0 40px 0;
    }

    main>.main>.register-form .body {
        padding: 0 20px;
    }

    main>.main>.register-form .body>.inputs {
        padding: 5px 0 45px 0;
    }

    main>.main>.register-form .body>.inputs>.input>input {
        padding: 0 70px 0 10px;
    }

    main>.main>.register-form .body>.inputs .icon {
        width: 60px;
        font-size: 1.8rem;
    }

    main>.main>.register-form .footer {
        height: 80px;
    }
}